body {
  height: 100vh;
  color: white;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/background.jpg);

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 2rem 0 4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(125, 145, 156, 0.8);
}

.title {
  text-align: center;
  height: 20vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

h1 {
  text-shadow: -2px 2px 5px rgb(37, 37, 37);
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.btnAdd,
.btnDelete {
  background-color: rgb(224, 78, 5);
  border-radius: 5px;
  border: 2px solid white;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button img {
  height: 30px;
  width: 30px;
  padding: auto;
}
.container {
  flex: 1;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 2rem 5rem 0 5rem;
  gap: 1rem;
  max-height: 600px;
}
.SaveList {
  display: flex;
  flex-direction: column;
  background-color: rgba(125, 145, 156, 0.8);
  padding: 0;
  max-height: 440px;
  border-radius: 5px;
  overflow-y: scroll ; 
}



.Contact {
  list-style: none;
  display: flex;
  border: 2px solid white;
  border-radius: 5px;
  padding-left: 1rem;
  margin-bottom: 5px;
  width: 90%;
  height: 50px;
  padding: 0;
  flex-direction: column;
}
h3 {
  color: #ffffff;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 15px;
}
.Contact h5 {
  font-size: 15px;
  color: #ffffff;
  font-family: sans-serif;
  font-weight: lighter;
  font-weight: 500;
  margin-top: 10px;
}
.Contact img {
  width: 18px;
  height: 18px;
}
p {
  color: #ffffff;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
.detail_contact {
  background-color: rgba(125, 145, 156, 0.8);
  border-radius: 5px;
  height: fit-content;
  display: none;
}
.edit-button {
  background-color: rgba(227, 80, 12, 0.965);
  color: white;
  border-style: solid;
  border-color: white;
  padding: 10px 20px;
  cursor: pointer;
  float: left;
  margin: 20px;
  border-radius: 5px;
}
.Contact.selected {
  background-color: rgba(227, 80, 12, 0.965);
  cursor: pointer;
}


.form-container {

  display: flex;
  float: right;
}
form {
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 1rem;
  padding-top: 1%;
  background-color: rgba(125, 145, 156, 0.8);
  display: flex;
  flex-direction: column;

  height: fit-content;
  margin-right: 60px;
  margin-left: 0.5rem;
  width: 40rem;
}
fieldset {
  padding: 2rem 1rem 1rem 1rem;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 90%;
}
#civilite {
  height: 40px;
  background-color: rgba(255, 255, 255, 0.35);
  border: 1px solid white;
  border-radius: 3px;
  padding-left: 1rem;
}
input[type="text"],
input[type="tel"],
select {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: whitesmoke;
}

legend {
  background-color: rgb(224, 78, 5);
  padding: 10px;
  border-radius: 5px;
}

label {
  font-weight: lighter;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
select:focus > option:checked {
  background: rgba(227, 80, 12, 0.965) !important;
}
.Formulaire button {
  background-color: rgba(227, 80, 12, 0.965);
  color: white;
  padding: 0.5rem;
  border-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border-style: solid;
}
.btn_form {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}

.contactsContainer {
  display: flex;
  flex-direction: column;

  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 5px;

  padding: 0;
}
*/ */ .Contact.selected {
  background-color: rgba(227, 80, 12, 0.965);
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  #main_container {
    grid-template-columns: 100%;
  }
}
